.welcome {
  text-align: center;
}
.image {
    text-align: left;
    display: block;
    justify-content: left;
    align-items: left;
    margin: auto;
    width: 50%;
}
.sigout{
    text-align: left;
    justify-content: left;
    align-items: left;
    margin: auto;
    width: 50%;
}
